/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
!/app
/app/*
!/app/code
/app/code/*
!/app/code/TCMP
/node_modules
/.grunt
/bin
/dev
/lib
/phpserver
/pub
/setup
/update
/var
/vendor/*
!/vendor/.htaccess
### Magento template
#--------------------------#
# Magento Default Files    #
#--------------------------#

/media
.htaccess
.htaccess.sample
.php_cs
.travis.yml
.user.ini
CHANGELOG.md
composer.json
composer.lock
CONTRIBUTING.md
COPYING.txt
Gruntfile.js.sample
index.php
LICENSE_AFL.txt
package.json.sample
ISSUE_TEMPLATE.md
LICENSE.txt
nginx.conf.sample
pestle.phar
php.ini.sample
